In [1]:
import pandas as pd

In [3]:
#import dataset
df_juni = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-juni-tahun-2021.csv')
df_juli = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-juli-tahun-2021.csv')
df_agust = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-agustus-tahun-2021.csv')
df_sept = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-september-tahun-2021.csv')
df_okt = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-oktober-tahun-2021.csv')
df_nov = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-november-tahun-2021.csv')
df_desmb = pd.read_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/indeks-standar-pencemar-udara-di-spku-bulan-desember-tahun-2021.csv')

#integrate column name juni and juli
df_juni.columns=df_desmb.columns
df_juli.columns=df_desmb.columns

#concat dataset
df = pd.concat([df_juni, df_juli, df_agust, df_sept, df_okt, df_nov, df_desmb])
df

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-06-01,DKI1 (Bunderan HI),59,83,22,18,19,35,83,PM25,SEDANG
1,2021-06-02,DKI1 (Bunderan HI),59,84,21,20,24,38,84,PM25,SEDANG
2,2021-06-03,DKI1 (Bunderan HI),54,76,22,20,17,41,76,PM25,SEDANG
3,2021-06-04,DKI1 (Bunderan HI),63,87,20,13,14,30,87,PM25,SEDANG
4,2021-06-05,DKI1 (Bunderan HI),59,79,23,20,19,38,79,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...
150,2021-12-27,DKI5 (Kebon Jeruk) Jakarta Barat,54,76,36,14,21,47,76,PM25,SEDANG
151,2021-12-28,DKI5 (Kebon Jeruk) Jakarta Barat,44,68,20,11,21,33,68,PM25,SEDANG
152,2021-12-29,DKI5 (Kebon Jeruk) Jakarta Barat,34,54,28,8,25,29,54,PM25,SEDANG
153,2021-12-30,DKI5 (Kebon Jeruk) Jakarta Barat,53,75,25,15,23,44,75,PM25,SEDANG
154,2021-12-31,DKI5 (Kebon Jeruk) Jakarta Barat,60,87,28,19,30,53,87,PM25,SEDANG

In [4]:
df['categori'].value_counts()

categori
SEDANG            791
TIDAK SEHAT       207
BAIK               62
TIDAK ADA DATA      9
Name: count, dtype: int64

In [5]:
#rename value SEDANG to BAIK in column cetagori
df['categori'] = df['categori'].replace(['SEDANG'], 'BAIK')
df

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-06-01,DKI1 (Bunderan HI),59,83,22,18,19,35,83,PM25,BAIK
1,2021-06-02,DKI1 (Bunderan HI),59,84,21,20,24,38,84,PM25,BAIK
2,2021-06-03,DKI1 (Bunderan HI),54,76,22,20,17,41,76,PM25,BAIK
3,2021-06-04,DKI1 (Bunderan HI),63,87,20,13,14,30,87,PM25,BAIK
4,2021-06-05,DKI1 (Bunderan HI),59,79,23,20,19,38,79,PM25,BAIK
...,...,...,...,...,...,...,...,...,...,...,...
150,2021-12-27,DKI5 (Kebon Jeruk) Jakarta Barat,54,76,36,14,21,47,76,PM25,BAIK
151,2021-12-28,DKI5 (Kebon Jeruk) Jakarta Barat,44,68,20,11,21,33,68,PM25,BAIK
152,2021-12-29,DKI5 (Kebon Jeruk) Jakarta Barat,34,54,28,8,25,29,54,PM25,BAIK
153,2021-12-30,DKI5 (Kebon Jeruk) Jakarta Barat,53,75,25,15,23,44,75,PM25,BAIK
154,2021-12-31,DKI5 (Kebon Jeruk) Jakarta Barat,60,87,28,19,30,53,87,PM25,BAIK

In [7]:
df.to_csv('/home/riyan/MLProject/pencemaran_udara_jakarta/data/raw/rawdataset', index=False)
df

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-06-01,DKI1 (Bunderan HI),59,83,22,18,19,35,83,PM25,BAIK
1,2021-06-02,DKI1 (Bunderan HI),59,84,21,20,24,38,84,PM25,BAIK
2,2021-06-03,DKI1 (Bunderan HI),54,76,22,20,17,41,76,PM25,BAIK
3,2021-06-04,DKI1 (Bunderan HI),63,87,20,13,14,30,87,PM25,BAIK
4,2021-06-05,DKI1 (Bunderan HI),59,79,23,20,19,38,79,PM25,BAIK
...,...,...,...,...,...,...,...,...,...,...,...
150,2021-12-27,DKI5 (Kebon Jeruk) Jakarta Barat,54,76,36,14,21,47,76,PM25,BAIK
151,2021-12-28,DKI5 (Kebon Jeruk) Jakarta Barat,44,68,20,11,21,33,68,PM25,BAIK
152,2021-12-29,DKI5 (Kebon Jeruk) Jakarta Barat,34,54,28,8,25,29,54,PM25,BAIK
153,2021-12-30,DKI5 (Kebon Jeruk) Jakarta Barat,53,75,25,15,23,44,75,PM25,BAIK
154,2021-12-31,DKI5 (Kebon Jeruk) Jakarta Barat,60,87,28,19,30,53,87,PM25,BAIK